// mixins
@import '@material/top-app-bar/mixins';
@import '@material/shape/mixins';

.max-width {
  width: 1280px;
}

.form {
  margin-bottom: 32px;
  text-align: center;
}

.field {
  box-sizing: border-box;
  height: 100px;
  padding: 8px;
}

.mdc-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.filter {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 46px;
  border-radius: 5px;
  display: inline-flex;
  padding: 8px 0 0 8px;
}

.label {
   height: 18px;
   padding: 8px 16px 0 4px;
   vertical-align: bottom;
   display: inline-block;
 }

.icon {
  height: 38px;
  padding: 6px 16px;
  vertical-align: middle;
  display: inline-block;
}

.icon-text {
  height: 36px;
  vertical-align: middle;
  display: inline-block;
}
