// mixins
@import '@material/top-app-bar/mixins';
@import '@material/shape/mixins';

.max-width {
  width: 1280px;
}

.demo-grid {
  margin-bottom: 32px;
}

.demo-cell {
  box-sizing: border-box;
  height: 100px;
  padding: 8px;
}

.mdc-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
